[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (max-width:768px) {
  #footer{
    display:none;
  }
}

@media print {

  .print {
    display: block !important;
    -webkit-print-color-adjust: exact;
  }

  .display {
    display: none !important;
  }
}

.print {
  display: none;
}

body {
  min-width:300px;
}

.navbar {
  z-index:100000;
}

.container {
  width:100%
}

.container .page {
  padding-top:50px;
}


.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

.social-media span {
  display:inline-block;
  width:0px;
  opacity: 0;
  padding-left:10px;
}


.social-media:hover span {
  opacity: 1;
  width:90px;
  transition: width 0.4s, opacity 0.5s ease-out;
}

.tab-image {
  max-width:50px !important;
  margin-right:5px;
}

.hover-div-info {
  position: fixed;
  display:none;
}

hr {
  clear:both;
}
