[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (max-width:768px) {
  #footer{
    display:none;
  }
}


body {
  padding-bottom:70px;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

.social-media span {
  display:inline-block;
  width:0px;
  opacity: 0;
  padding-left:5px;
}


.social-media:hover span {
  opacity: 1;
  width:70px;
  transition: width 0.4s, opacity 0.5s ease-out;
}

.tab-image {
  max-width:50px !important;
  margin-right:5px;
}
