[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@media (max-width:768px) {
  #footer{
    display:none;
  }
}

@media print {

  .print {
    display: block !important;
    -webkit-print-color-adjust: exact;
  }

  .display {
    display: none !important;
  }
}

.print {
  display: none;
}

body {
  min-width:300px;
}

.navbar {
  z-index:100000;
}

.container {
  width:100%
}

.container .page {
  padding-top:50px;
}


.loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

.page {

    /* start 'enter' transition */
    &.ng-enter {
        /* transition on enter for .5s */
        transition: 2s;

        /* start with opacity 0 (invisible) */
        opacity: 0;

        #home-page {
          -webkit-animation:2s zoomIn ease;
          animation:2s zoomIn ease;
        }

        #experience-page {
          -webkit-animation:2s slideInDown ease;
          animation:2s slideInDown ease;
        }

        #skills-page {
          -webkit-animation:1s slideInLeft ease;
          animation:1s slideInLeft ease;
        }

        #contact-page {
          -webkit-animation:1s bounceInUp ease;
          animation:1s bounceInUp ease;
        }
    }

    /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}


.social-media span {
  display:inline-block;
  width:0px;
  opacity: 0;
  padding-left:10px;
}


.social-media:hover span {
  opacity: 1;
  width:90px;
  transition: width 0.4s, opacity 0.5s ease-out;
}

.tab-image {
  max-width:50px !important;
  margin-right:5px;
}

.hover-div {
  position: fixed;
  display: none;
  padding: 5px;
  max-width: 500px;
  border-radius: 5px;
  z-index: 10000;
}

hr {
  clear:both;
}
