#asteroids-page {
  margin-top: -30px;
  margin-left: -15px;
  height: 100%;
  background-size: cover;
  background-color: #111111;
  overflow-x: hidden;
}

#asteroids-page h1 {
  color: #BBBBBB;
  font-size: 3em;
}

#asteroids-page p {
  color: #BBBBBB;
  font-size: 2em;
}

#score {
  position: fixed;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #111111;
  opacity: 0.7;
}

#announcement {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 40%;
  font-size: 4em;
  font-family: 'Anton';
}

#announcement.ng-hide-remove {
  -webkit-animation: 0.5s zoomInDown ease;
  animation: 0.5s zoomInDown ease;
}

#announcement.ng-hide-add {
  -webkit-animation: 0.5s zoomOut ease-in;
  animation: 0.5s zoomOut ease-in;
}
