#contact-page {
  margin: 20px auto;
  width:90%;
  padding-bottom:100px;
}

#contact-page.ng-hide-remove {
  -webkit-animation:1s bounceInDown ease;
  animation:1s bounceInDown ease;
}

#contact-page.ng-hide-add {
  -webkit-animation:0.5s zoomOutUp ease;
  animation:0.5s zoomOutUp ease;
}

#contact-page.grecaptcha-badge {
  display: none !important;
}
