#contact-page {
  margin: 20px auto;
  width:80%;
  padding-bottom:100px;
}

.ng-hide-remove {
  -webkit-animation:1s bounceInDown ease;
  animation:1s bounceInDown ease;
}

.ng-hide-add {
  -webkit-animation:0.5s zoomOutUp ease;
  animation:0.5s zoomOutUp ease;
}
