#experience-page {
  padding-top:20px;
  padding-bottom:100px;
  overflow:auto;
}

#experience-page p.story {
 padding:8px;
}

#experience-page .list-group {
  padding:8px;
}

#experience-page .job-section {
  min-height:100px;
  margin: 10px;
}

@media (max-width:768px) {
  #experience-page .job-image {
    margin-top:10px;
    text-align:center;
  }

  #experience-page .job-image img {
    max-height:80px;
  }
}

@media (min-width:768px) {
  #experience-page .job-image {
    margin-top:20px;
  }
  #experience-page .job-image img {
    width: 100%;
  }
}

#experience-page .job-image {
  min-width:90px;
  box-shadow: 5px 5px 5px #888;
  border-radius: 7px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding:5px;
}

#experience-page .project-skill {
  float:left;
  cursor:pointer;
  max-width:100px;
}

#experience-page .project-skill-image {
  max-height:50px;
  padding-right:8px;
  padding-top:4px;
  padding-bottom:4px;
}

#experience-page .project-skill-image:hover {
  transform:scale(1.2);
}
