#experience-page {
  padding-top:20px;
}

.job-section {
  min-height:100px;
}

.job-header {
  max-width:300px;
}

.job-image {
  max-width:150px;
  overflow: hidden;
}

.job-image img {
  width: 100%;
}
