#home-page {
  margin:0 auto;
  text-align: center;
}

.table {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.rowheader {
  width:20%;
  font-weight:bold;
  text-align:right;
}

.rowcell {
  width:80%;
  text-align:left;
}
