#profile-page {
  margin: 20px auto;
}

tags-input .host {
  margin: 0 !important;
}

tags-input .tags {
  display: flex;
  align-items: center;
  box-shadow: none !important;
  border-color: #CCCCCC !important;
  height: 43px !important;
}