#gender-slider {
  height:20px;
  background: linear-gradient(to right, #57dad3,#fad2fe,#eebcb8);
  border-radius:10px
}
#gender-slider-indicator {
  width:20px;
  height:20px;
  border-radius:50%;
  background-color:black;
}
