#profile-page {
  margin: 20px auto;
}

.gender-slider {
  height:20px;
  border-radius:10px
}

#sex {
  background: linear-gradient(to right, #57dad3,#fad2fe,#eebcb8);
}

#identity {
  background: linear-gradient(to right, #750787,#004dff,#008026,#ffed00,#ff8c00,#e40303);
}

.gender-slider-indicator {
  width:20px;
  height:20px;
  top: -21px;
  border-radius:50%;
  background-color:black;
  opacity:0.6;
}
