#quiz-google-page, #quiz-logos-page  {
  margin: 20px auto
  padding-bottom:50px;
}

#quiz-google-page panel, #quiz-logos-page panel {
  width:100%;text-align:center
}
#quiz-logos-page .panel-body img {
  width:100%;
}
