.quiz-page {
  margin: 5px auto;
  padding-bottom: 50px;
}

.quiz-photos-page panel {
  display: flex;
  text-align: center;
}

.quiz-photos-page .panel-body img {
  max-width: 500px;
}

.quiz-logos-page .panel-body img {
  width: 100%;
}
