#skills-page {
  width: 100%;
  padding-top: 15px;
}

#skills-page .skill-selector {
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  margin-left: -20px;
  line-height: 0;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

#skills-page .skill-display {
  height: calc(100vh - 5px);
}

#skills-page .skill-selector::-webkit-scrollbar {
  display: none;
}

#skills-page .selected-skill {
  margin: 0 auto;
  text-align: center;
  max-width: 150px;
  max-height: 150px;
}

#skills-page .highlighted-skill > div {
  background-color: #777 !important;
}

#skills-page .highlighted-skill .selectable-skill-percentage {
  background-color: #CCC !important;
}

#skills-page .selected-skill img {
  max-width: 150px;
}

#skills-page .selectable-skill p {
  display: flex;
  z-index: 1;
  align-items: center;
  margin: 0;
}

#skills-page .selectable-skill .hovered-skill {
  display: none;
}

#skills-page .selectable-skill .unhovered-skill {
  display: flex;
}

#skills-page .selectable-skill:hover .hovered-skill {
  display: flex;
}

#skills-page .selectable-skill:hover .unhovered-skill {
  display: none;
}

#skills-page .selectable-skill:hover .hovered-skill {
  display: flex;
}

#skills-page .selectable-skill img {
  max-height: 70px;
  max-width: 70px;
  padding: 10px;
  width: 100%;
  position: relative;
}

#skills-page .selectable-skill {
  width: 100%;
  padding: 0;
  border-radius: 10px;
}

#skills-page .selectable-skill > div {
  display: flex;
  background-color: #CCCCCC;
  padding: 0;
  border-radius: 10px;
  margin: 4px;
}

#skills-page .selectable-skill-percentage {
  background-color: #777777;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  top: 0;
}

#skills-page .selectable-skill:hover > div {
  background-color: #ddd;
}

#skills-page .selectable-skill:hover .selectable-skill-percentage {
  background-color: #888;
}

#skills-page .selectable-skill:hover, .selected-skill img:hover {
  // transform:scale(1.1);
}

#skills-page .selectable-skill.ng-hide-remove {
  -webkit-animation: 1s zoomInDown ease;
  animation: 1s zoomInDown ease;
}

#skills-page .selectable-skill.ng-hide-add {
  -webkit-animation: 0.5s zoomOutUp ease;
  animation: 0.5s zoomOutUp ease;
}

#skills-page .skill-display.ng-hide-add {
  -webkit-animation: 0.5s fadeOut ease;
  animation: 0.5s fadeOut ease;
}

#skills-page .skill-display.ng-hide-remove {
  -webkit-animation: 1.5s fadeInUp ease;
  animation: 1.5s fadeInUp ease;
}
