#skills-page {
  text-align:center;
  width:100%;
}

.skill-wheel {
  position: relative;
  margin: 0 auto;
}

.selected-skill {
  position: relative;
  margin: 0 auto;
  text-align:center;
  max-width:150px;
}

.selected-skill img {
  max-width: 150px;
}

.selectable-skill img {
  width:100%;
}

.selectable-skill:hover img, .selected-skill img:hover {
  transform:scale(1.2);
}

.selectable-skill.ng-hide-remove {
  -webkit-animation:0.5s zoomInDown ease;
  animation:0.5s zoomInDown ease;
}

.selectable-skill.ng-hide-add {
  -webkit-animation:0.5s rotateOut ease;
  animation:0.5s rotateOut ease;
}

.selected-skill-text.ng-hide-add {
  -webkit-animation: 0.5s fadeOut ease;
  animation: 0.5s fadeOut ease;
}

.selected-skill-text.ng-hide-remove {
  -webkit-animation: 0.5s fadeInUp ease;
  animation: 0.5s fadeInUp ease;
}
