.skill-wheel {
  position: relative;
  margin:0 auto;
}

.skill-wheel div {
  width:80px;
  height:80px;
}

.skill-wheel div img {
  width:100%
}

.skill-wheel div:hover img {
  transform:scale(1.5);
}
