#tenthings-page {
  position: relative;
  float: unset;
}

.category-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li {
    flex: 1 1 0%;

    > a {
      width: 100%;
      text-align: left;
    }

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      margin-bottom: 5px;
      padding: 0 15px;

      > li {
        flex: 1 1 0%;

        > a {
          width: 100%;
        }
      }
    }
  }
}

.filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li {
    flex: 1 1 0%;

    > a {
      width: 100%;
    }
  }
}

.edit-list-panel {
  top: 50px;
  position: fixed;
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  right: -100%;
  width: 95%;
  transition: right 0.2s ease-out;
  background-color: white;
  z-index: 100;
  border-color: black;
  border: solid;
  padding: 0px 20px 20px 20px;
}

.edit-list-panel.active {
  right: 0;
}

.edit-list-panel-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.btn-toolbar {
  margin: 0 5px 0 -5px;
}

.btn-toolbar > div {
  margin-top: 3px;
}

.btn-icon {
  padding: 10px;

  img {
    max-width: 20px;
    max-height: 20px;
  }
}

.clear-input {
  position: relative;
  display: flex !important;
  align-items: center;
  width: 0;
  left: -20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#table-lists tr:hover {
  font-weight: bold;
  cursor: pointer;
}

td {
  overflow: hidden;
  max-width: 250px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

td:hover {
  overflow: visible;
  text-wrap: initial;
}

.input-search {
  height: unset;
}

.input-cell {
  padding: 0 5px 0 0 !important;
  text-overflow: ellipsis;
}

.image-cell {
  padding: 0 !important;
}

.input-cell textarea {
  height: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-cell > * {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-wrap: nowrap;
}

.input-cell > *:focus {
  border: none;
  box-shadow: none;
  text-wrap: wrap;
}

.image-cell img {
  margin: 5px;
  width: 40px;
  max-height: 33px;
}

td {
  vertical-align: middle !important;
}

td.icon-column {
  width: 30px;
}

td.delete-column {
  cursor: pointer;
}

td.delete-column:hover {
  color: darkred;
}

td.disabled-column {
  cursor: not-allowed;
  color: lightgrey;
}

.confirm-message {
  text-align: right;
}

.highlight {
  background-color: lightgrey;
}

.flex-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 15px;
}