#tenthings-page {
  margin: 20px auto
  padding-bottom:50px;
}
.input-group-addon {
  padding: 5px;
}
.input-group-addon img {
  width: 40px;
  max-height: 30px;
}

#category-select.ng-hide-add {
  -webkit-animation:0.5s fadeOutDown ease;
  animation:0.5s fadeOutDown ease;
}

#category-select.ng-hide-remove {
  -webkit-animation:1s bounceInDown ease;
  animation:1s bounceInDown ease;
}
