
body {
    font-family:'Nunito', sans-serif;
    text-align: center;
}
.App {
    margin: auto;
    width: 90%;
    vertical-align:middle;
}
.Top {
    height:60px;
    width:100%;
}
.AppSection {
    vertical-align:middle;
    top: 60px;
    margin: auto;
    display:none;
}
.ListInputs {
    position:relative;
}
input {
    margin: auto;
    width: 100%;
}
ul {
    list-style-type: none;
}
a, a:hover {
    text-decoration:none;
}
#Avatars {
    width:90%;
}
#Avatar {
    float:right;
    background-image: url("http://i.imgur.com/IcP5F1m.png");
    margin: 5px;
    width: 50px;
    height: 50px;

}
.table-striped {
    width: 100%;
    margin: 10px;
}
th {
    height: 50px;
}
td {
    min-width:25px;
    max-width:100px;
}
