<div id="modal-pick-categories" class="modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedList.name}}</h4>
      </div>
      <div class="modal-body">
        <ul class="category-list">
          <li ng-repeat="category in categories | orderBy: 'value'">
            <a
              class="btn btn-sm"
              ng-click="setCategory(selectedList, category.value)"
              ng-class="{'btn-default': !selectedList.categories.includes(category.value),'btn-primary': selectedList.categories.includes(category.value)}"
              href="#"
            >
              {{category.label}}
            </a>
            <ul ng-if="selectedList.categories.includes(category.value)">
              <li ng-repeat="subcategory in category.subcategories | orderBy: 'value'">
                <a
                  class="btn btn-sm"
                  ng-click="setCategory(selectedList, subcategory.value)"
                  ng-class="{'btn-default': !selectedList.categories.includes(subcategory.value),'btn-primary': selectedList.categories.includes(subcategory.value)}"
                  href="#"
                >
                  {{subcategory.label}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
