<div class="container">
  <form role="form">
    <div class="form-group">
      <div class="input-group">
        <input ng-model="postBody" class="form-control" placeholder="Post"/>
        <span class="input-group-btn">
          <button ng-click="addPost()" class="btn btn-default"><i class="fa fa-lg fa-envelope"></i></button>
        </span>
      </div>
      <input type="text" ng-model="searchText" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="list-group">
    <li ng-repeat="post in posts | orderBy:'-date' | filter:searchText" class="list-group-item">
      <strong>{{ post.poster.username }}:</strong>
      <span>{{ post.body }}</span>
    </li>
  </ul>
</div>
