<div class="container" id="profile-page">
  <form>
    <h1>Profile</h1>
    <div class="form-group">
      <div class="input-group" ng-show="usernameToggle">
        <span class="input-group-btn">
          <button ng-click="toggleUsername()" class="btn btn-default">
            <i class="fa fa-pencil"></i>
          </button>
        </span>
        <input ng-disabled="usernameToggle" class="form-control" type="text" placeholder="{{currentUser.username}}" />
      </div>
      <div class="input-group" ng-show="!usernameToggle">
        <span class="input-group-btn">
          <button ng-click="changeUsername(newUsername); toggleUsername();" class="btn btn-default">
            <i class="fa fa-save"></i>
          </button>
          <button ng-click="toggleUsername();" class="btn btn-default">
            <i class="fa fa-times"></i>
          </button>
        </span>
        <input class="form-control" type="text" ng-model="newUsername" />
      </div>
    </div>
  </form>

  <div class="form-group">
    <p class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="birthdateOpen = true">
          <i class="fa fa-calendar"></i>
        </button>
      </span>
      <input
        type="text"
        class="form-control"
        uib-datepicker-popup="dd-MMM-yyyy"
        ng-model="currentUser.birthDate"
        ng-change="updateUser()"
        is-open="birthdateOpen"
        datepicker-options="dateOptions"
        ng-required="true"
        close-text="Close"
      />
    </p>
  </div>
  <form ng-submit="updateUser()">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="fa fa-globe-stand"></i>
          </button>
        </span>
        <tags-input
          ng-model="userFlags"
          ng-change="updateUser()"
          display-property="name"
          placeholder="Add a country"
          replace-spaces-with-dashes="false"
          template="tag-flag"
        >
          <auto-complete
            source="loadCountries($query)"
            min-length="0"
            load-on-focus="true"
            load-on-empty="true"
            max-results-to-show="32"
            template="autocomplete-flag"
          >
          </auto-complete>
        </tags-input>
      </div>
    </div>
  </form>
</div>

<script type="text/ng-template" id="tag-flag">
  <div class="tag-flag">
    <div class="flag {{data.flag}}" ng-if="data.flag"> </div>
  </div>
</script>

<script type="text/ng-template" id="autocomplete-flag">
  <div class="autocomplete-flag">
    <div class="left-panel">
      <div class="flag {{data.flag}}" ng-if="data.flag"> </div>
    </div>
    <div class="right-panel">
      <span ng-bind-html="$highlight($getDisplayText())"></span>
    </div>
  </div>
</script>
