<!--ul class="nav nav-tabs">
  <li role="presentation" ng-repeat="skill in skills"><a href="#" role="tab" data-toggle="tab"><img class="tab-image" ng-src="./images/{{skill.image}}"/></a></li>
</ul-->
<div id="skills-page" ng-cloak>
  <div class="skill-selector col-xs-3" ng-cloak>
    <div class="selectable-skill" ng-repeat="skill in skills track by $index" ng-click="setSelectedSkill($index)">
      <img ng-src="./images/skills/{{skill.image}}"/>
    </div>
  </div>
  <div class="skill-display col-xs-9">
    <div class="selected-skill hover-div" id="{{getSelectedSkill().code}}">
      <img ng-src="./images/skills/{{getSelectedSkill().image}}"/>
    </div>
    <div class="selected-skill-text">
      <h1>{{getSelectedSkill().name}}</h1>
      <p ng-bind-html="getSelectedSkillText()"></p>
    </div>
    <div class="hover-div-info" id="{{getSelectedSkill().code}}-info">
      <kbd class="bg-primary">{{getSelectedSkill().percentage}}%</kbd>
    </div>
    <div ng-show="false">
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>
</div>
