<!--ul class="nav nav-tabs">
  <li role="presentation" ng-repeat="skill in skills"><a href="#" role="tab" data-toggle="tab"><img class="tab-image" ng-src="/{{skill.image}}"/></a></li>
</ul-->
<div id="skills-page" ng-cloak>
  <div class="skill-selector col-xs-3" ng-cloak>
    <div class="selectable-skill" ng-repeat="skill in skills track by $index" ng-click="setSelectedSkill(skill)">
      <img ng-src="/skills/{{skill.image}}"/>
    </div>
  </div>
  <div class="skill-display col-xs-9">
    <div class="selected-skill" id="{{selectedSkill.code}}">
      <canvas id="doughnut" class="chart chart-doughnut" ng-style="selectedSkill.chartStyle" chart-options="selectedSkill.chartOptions" chart-data="[selectedSkill.percentage]" chart-labels="['Mastery']"></canvas>
    </div>
    <div class="selected-skill-text">
      <h1>{{selectedSkill.name}}</h1>
      <p ng-bind-html="selectedSkill.description"></p>
      <p ng-show="selectedSkill.tldr">
        <strong title="Too Long; Didn't Read">TL;DR</strong> <span ng-bind-html="project.tldr"></span>
      </p>
    </div>
  </div>
</div>
