<!--ul class="nav nav-tabs">
  <li role="presentation" ng-repeat="skill in skills"><a href="#" role="tab" data-toggle="tab"><img class="tab-image" ng-src="./images/{{skill.image}}"/></a></li>
</ul-->
<div id="skills-page">
  <div class="skill-wheel" ng-style="getSkillWheelStyle()">
    <div class="selected-skill">
      <img ng-src="./images/{{getSelectedSkill().image}}" ng-click="skillsVisible = !skillsVisible"/>
    </div>
    <div class="selectable-skill" ng-repeat="skill in skills track by $index" ng-style="getPosition($index)" ng-click="setSelectedSkill($index)" ng-show="skillsVisible" ng-cloak>
      <img ng-src="./images/{{skill.image}}"/>
    </div>
  </div>
  <div class="selected-skill-text" ng-hide="skillsVisible">
    <h1>{{getSelectedSkill().name}}</h1>
    <p>{{getSelectedSkillText()}}</p>
  </div>
</div>
