<div id="tenthingscurate-page" class="col-md-12">
  <h1>Ten Things</h1>
  <h1 class="text-danger" ng-show="!loggedIn">You have to be logged in to edit lists</h1>
  <div class="well well-sm">
    This page works in conjunction with the
    <a href="https://t.me/joinchat/I1Di-1MXGXkjhgNPXi6Vfg" target="_blank">Ten Things Telegram Bot</a>
  </div>
  <div ng-show="loggedIn">
    <div class="input-group" style="display: flex">
      <div class="btn btn-default" ng-click="addList()" ng-disabled="selectedList && !selectedList._id">
        <i class="fas fa-plus" aria-hidden="true"></i> New list
      </div>
    </div>
    <div class="input-group" style="display: flex">
      <div class="input-group-prepend">
        <div class="btn btn-default" data-toggle="modal" data-target="#modal-list-filters">
          <i class="fas fa-filter"></i>
        </div>
      </div>
      <input
        class="form-control"
        ng-model="search"
        ng-change="getLists()"
        placeholder="Search"
        ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
      />
      <div class="input-group-append">
        <button class="btn btn-default" ng-click="getLists()">
          <i class="fas fa-sync" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="orderBy('name')">Name</th>
          <th class="hidden-sm visible-md visible-lg">Categories</th>
          <th ng-click="orderBy('answers')"><i class="fas fa-list-ol"></i></th>
          <th ng-click="orderBy('language')"><i class="fas fa-language"></i></th>
          <th ng-click="orderBy('difficulty')" class="hidden-sm visible-md visible-lg">Difficulty</th>
          <th ng-click="orderBy('date')" class="hidden-sm visible-md visible-lg">Created</th>
          <th ng-click="orderBy('modifyDate')" class="hidden-sm visible-md visible-lg">Updated</th>
        </tr>
      </thead>
      <tbody infinite-scroll="getMoreLists()" infinite-scroll-distance="1">
        <tr ng-repeat="list in lists | orderBy:order.field:order.reverse">
          <td ng-click="setSelectedList(list)" class="list-name">{{list.name}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.categories.join(", ")}}</td>
          <td>{{list.answers}}</td>
          <td>{{list.language}}</td>
          <td class="hidden-sm visible-md visible-lg">
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-sm btn-secondary btn-difficulty"
                ng-class="{ 'btn-primary': list.difficulty === 0 }"
                ng-click="setDifficulty(list, 0)"
              >
                &#128524;
              </button>
              <button
                type="button"
                class="btn btn-sm btn-secondary btn-difficulty"
                ng-class="{ 'btn-primary': list.difficulty === 1 }"
                ng-click="setDifficulty(list, 1)"
              >
                &#129300;
              </button>
              <button
                type="button"
                class="btn btn-sm btn-secondary btn-difficulty"
                ng-class="{ 'btn-primary': list.difficulty === 2 }"
                ng-click="setDifficulty(list, 2)"
              >
                &#128565;
              </button>
            </div>
          </td>
          <td class="hidden-sm visible-md visible-lg">{{formatDate(list.date)}}</td>
          <td class="hidden-sm visible-md visible-lg">{{formatDate(list.modifyDate)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    ng-include="'/components/update-list.html'"
    class="edit-list-panel"
    ng-class="{'active': selectedList}"
    click-outside
  ></div>
  <div ng-include="'/modals/list-filters.html'"></div>
  <div id="overlay" ng-style="{ display: selectedList ? 'block': 'none' }" ng-click="setSelectedList()"></div>
</div>
