<div id="tenthingsadmin-page" class="col-md-12" ng-if="currentUser.admin">
  <h1>Welcome to Ten Things Admin</h1>
  <p ng-bind-html="queue" />
  <div class="btn-group">
    <button class="btn btn-default" ng-click="getQueue()">
      <i class="fa fa-sync" ng-class="{ 'fa-spin': loading }"></i>
    </button>
    <button
      class="btn"
      ng-class="{'btn-warning': paused, 'btn-default': !paused}"
      ng-click="togglePause()"
    >
      {{paused ? 'Unpause': 'Pause'}}
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-click="orderBy('_id')">ID</th>
        <th ng-click="orderBy('username')">Username</th>
        <th ng-click="orderBy('displayName')">Name</th>
        <th ng-click="orderBy('email')">Email</th>
        <th ng-click="orderBy('admin')">Admin?</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h4>{{users.length}} users</h4></td>
        <td>
          <input class="form-control" type="text" placeholder="Search" ng-model="search.username" />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            placeholder="Search"
            ng-model="search.displayName"
          />
        </td>
        <td>
          <input class="form-control" type="text" placeholder="Search" ng-model="search.email" />
        </td>
      </tr>
      <tr ng-repeat="user in users | orderBy: order.field:order.reverse | filter: search">
        <!--td><img class="img-circle img-profile" ng-src="{{user.photoURL}}" alt="Profile Picture" ng-if="user.photoURL"></td-->
        <td>{{user._id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.displayName}}</td>
        <td>{{user.email}}</td>
        <td>
          <i
            class="fas"
            ng-class="{'fa-unlock': user.admin, 'fa-lock': !user.admin}"
            aria-hidden="true"
          ></i>
        </td>
        <td>
          <button
            class="btn btn-sm"
            ng-disabled="loading"
            ng-class="{'btn-success': !user.banned, 'btn-danger': user.banned}"
            ng-click="toggleBan(user)"
          >
            <i
              class="fas"
              ng-class="{'fa-thumbs-up': !user.banned, 'fa-thumbs-down': user.banned}"
              aria-hidden="true"
            ></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
