<div id="tenthings-page" class="col-md-12" ng-keydown="keyDown($event)">
  <h1>Ten Things</h1>
  <h1 class="text-danger" ng-show="!loggedIn">You have to be logged in to edit lists</h1>
  <div class="well well-sm">
    This page works in conjunction with the
    <a href="https://t.me/joinchat/I1Di-1MXGXkjhgNPXi6Vfg" target="_blank">Ten Things Telegram Bot</a>
  </div>
  <div ng-show="loggedIn">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-justified visible-xs hidden-sm hidden-md hidden-lg">
        <div class="btn-group" role="group">
          <div class="btn btn-default" ng-click="addList()" ng-disabled="selectedList && !selectedList._id">
            <i class="far fa-sparkles" aria-hidden="true"></i> New list
          </div>
        </div>
        <div class="btn-group" role="group" ng-if="currentUser.admin && highlightedListIds.length > 1">
          <div class="btn btn-primary" data-toggle="modal" data-target="#modal-update-multiple-lists">
            <i class="fas fa-edit" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i> Edit
            ({{highlightedListIds.length}})
          </div>
        </div>
        <div class="btn-group" role="group" ng-if="currentUser.admin && highlightedListIds.length > 1">
          <div class="btn btn-info" data-toggle="modal" data-target="#modal-merge-lists" ng-click="confirmed = false">
            <i class="far fa-code-merge" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i> Merge
            ({{highlightedListIds.length}})
          </div>
        </div>
        <div class="btn-group" role="group" ng-if="currentUser.admin && highlightedListIds.length > 1">
          <div class="btn btn-danger" ng-click="deleteLists()">
            <i class="fas fa-trash-alt" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i> Delete
            ({{highlightedListIds.length}})
          </div>
        </div>
      </div>
      <div class="btn-group btn-block" style="display: flex">
        <div
          class="btn btn-default hidden-xs visible-sm visible-md visible-lg"
          ng-click="addList()"
          ng-disabled="selectedList && !selectedList._id"
        >
          <i class="far fa-sparkles" aria-hidden="true"></i> New list
        </div>
        <div
          class="btn btn-primary hidden-xs visible-sm visible-md visible-lg"
          ng-if="currentUser.admin && highlightedListIds.length > 1"
          data-toggle="modal"
          data-target="#modal-update-multiple-lists"
          uib-tooltip="Edit selected lists"
        >
          <i class="far fa-edit" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
          ({{highlightedListIds.length}})
        </div>
        <div
          class="btn btn-info hidden-xs visible-sm visible-md visible-lg"
          ng-if="currentUser.admin && highlightedListIds.length > 1"
          data-toggle="modal"
          data-target="#modal-merge-lists"
          ng-click="confirmed = false"
          uib-tooltip="Merge selected lists"
        >
          <i class="far fa-code-merge" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
          ({{highlightedListIds.length}})
        </div>
        <div
          class="btn btn-danger hidden-xs visible-sm visible-md visible-lg"
          ng-if="currentUser.admin && highlightedListIds.length > 1"
          ng-click="deleteLists()"
          uib-tooltip="Delete selected lists"
        >
          <i class="fas fa-trash-alt" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
          ({{highlightedListIds.length}})
        </div>
        <div class="input-group-prepend">
          <div class="btn btn-default" data-toggle="modal" data-target="#modal-list-filters" uib-tooltip="Filter">
            <i class="fas fa-filter"></i> ({{getFilterCount()}})
          </div>
        </div>
        <input
          class="form-control input-search"
          type="search"
          ng-model="search"
          ng-change="getLists()"
          placeholder="Search"
          autocomplete="off"
          ng-model-options="{ debounce: { 'default': 500, '*': 0 } }"
          uib-typeahead="list.name for list in searchLists($viewValue)"
          typeahead-on-select="setSelectedList($item);"
        />
        <i class="fas fa-times clear-input" ng-click="search = '';getLists();"></i>
        <div class="input-group-append">
          <button class="btn btn-default" ng-click="getLists()" uib-tooltip="Refresh">
            <i class="fas fa-sync" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <hr />
    <table id="table-lists" class="table table-striped">
      <thead>
        <tr>
          <th ng-if="currentUser.admin">
            <i
              ng-click="toggleHighlightedLists()"
              ng-if="count === lists.length"
              ng-class="{'fas fa-check-square': highlightedListIds.length === lists.length, 'far fa-square':  highlightedListIds.length !== lists.length }"
            ></i>
          </th>
          <th ng-if="currentUser.admin" ng-click="orderBy('starred')">
            <i class="fas fa-star-half-alt"></i>
            <i
              ng-if="order.field === 'name'"
              class="fas"
              ng-class="{'fa-sort-alpha-down-alt' : order.direction, 'fa-sort-alpha-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('name')">
            Name <span style="font-weight: lighter; font-size: small">({{count || 0}})</span>
            <i
              ng-if="order.field === 'name'"
              class="fas"
              ng-class="{'fa-sort-alpha-down-alt' : order.direction, 'fa-sort-alpha-down': !order.direction}"
            ></i>
          </th>
          <th class="hidden-sm visible-md visible-lg">Categories</th>
          <th ng-click="orderBy('creator.username')" class="hidden-sm hidden-md visible-lg">
            Creator
            <i
              ng-if="order.field === 'creator.username'"
              class="fas"
              ng-class="{'fa-sort-alpha-down-alt' : order.direction, 'fa-sort-alpha-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('date')" class="hidden-xs visible-sm visible-md visible-lg">
            Created
            <i
              ng-if="order.field === 'date'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('modifyDate')" class="hidden-sm visible-md visible-lg">
            Updated
            <i
              ng-if="order.field === 'modifyDate'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th><i class="fas fa-list-ol" uib-tooltip="Values"></i></th>
          <th ng-click="orderBy('language')">
            <i class="fas fa-language" uib-tooltip="Language"></i>
            <i
              ng-if="order.field === 'language'"
              class="fas"
              ng-class="{'fa-sort-alpha-down-alt' : order.direction, 'fa-sort-alpha-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('upvotes')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-thumbs-up" uib-tooltip="Upvotes"></i>
            <i
              ng-if="order.field === 'upvotes'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('downvotes')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-thumbs-down" uib-tooltip="Downvotes"></i>
            <i
              ng-if="order.field === 'downvotes'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('likeRatio')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-heart-square" uib-tooltip="Like Ratio"></i>
            <i
              ng-if="order.field === 'likeRatio'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('plays')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-play" uib-tooltip="Plays"></i>
            <i
              ng-if="order.field === 'plays'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('playRatio')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-percentage" uib-tooltip="Play Ratio"></i>
            <i
              ng-if="order.field === 'playRatio'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-click="orderBy('bans')" class="hidden-sm visible-md visible-lg">
            <i class="fas fa-ban" uib-tooltip="Bans"></i>
            <i
              ng-if="order.field === 'bans'"
              class="fas"
              ng-class="{'fa-sort-numeric-down-alt' : order.direction, 'fa-sort-numeric-down': !order.direction}"
            ></i>
          </th>
          <th ng-if="currentUser.admin" class="hidden-xs visible-sm visible-md visible-lg"></th>
        </tr>
      </thead>
      <tbody infinite-scroll="getMoreLists()" infinite-scroll-distance="1">
        <tr
          ng-repeat="list in lists | orderBy:order.field:order.direction"
          uib-tooltip="{{list.description}}"
          ng-class="{'success': highlightedListIds.includes(list._id)}"
        >
          <td ng-if="currentUser.admin" ng-click="toggleHighlightedList(list); ">
            <i
              ng-class="{'fas fa-check-square': highlightedListIds.includes(list._id), 'far fa-square': !highlightedListIds.includes(list._id) }"
            ></i>
          </td>
          <td ng-if="currentUser.admin" ng-click="updateList(list, {starred: !list.starred})">
            <i ng-class="{'fas fa-star': list.starred, 'far fa-star': !list.starred }"></i>
          </td>
          <td class="list-name" ng-click="setSelectedList(list)" ng-bind-html="highlightedSearchText(list.name)"></td>
          <td class="hidden-sm visible-md visible-lg" ng-click="setSelectedList(list)">
            {{getCategoryLabel(list.categories)}}
          </td>
          <td class="hidden-sm hidden-md visible-lg" ng-click="setSelectedList(list)">{{list.creator.username}}</td>
          <td class="hidden-xs visible-sm visible-md visible-lg" ng-click="setSelectedList(list)">
            {{formatDate(list.date)}}
          </td>
          <td class="hidden-sm visible-md visible-lg" ng-click="setSelectedList(list)">
            {{formatDate(list.modifyDate)}}
          </td>
          <td>{{list.answers}}</td>
          <td>{{list.language}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.upvotes}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.downvotes}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.likeRatio.makePercentage(0)}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.plays}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.playRatio.makePercentage(0)}}</td>
          <td class="hidden-sm visible-md visible-lg">{{list.bans}}</td>
          <td ng-if="currentUser.admin" ng-click="deleteList(list)" class="hidden-xs visible-sm visible-md visible-lg">
            <i class="fas fa-trash-alt delete"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    ng-include="'/components/update-list.html'"
    class="edit-list-panel"
    ng-class="{'active': selectedList}"
    click-outside
  ></div>
  <div ng-include="'/modals/pick-categories.html'"></div>
  <div ng-include="'/modals/list-filters.html'"></div>
  <div ng-include="'/modals/delete-lists.html'"></div>
  <div ng-include="'/modals/merge-lists.html'"></div>
  <div ng-include="'/modals/blurb.html'"></div>
  <div ng-include="'/modals/update-multiple-lists.html'"></div>
  <div id="overlay" ng-style="{ display: selectedList ? 'block': 'none' }" ng-click="setSelectedList()"></div>
</div>
