<div id="tenthings-page" class="col-md-12">
  <h1>Ten Things</h1>
  <h2>{{list.name}}</h2>
  <div ng-if="list._id">
    <h5>By {{list.creator.username}}</h5>
    <h5>Possible values: {{list.answers}}</h5>
  </div>
  <div>
    <div class="input-group">
      <input
        class="form-control input-search"
        type="search"
        ng-model="guess"
        placeholder="Guess"
        ng-keydown="keyDown($event)"
      />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="submitGuess()" ng-disabled="!guess">
          Submit
        </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="getHint()" ng-disabled="game.hints >= 6">Hint</button>
      <button class="btn btn-default" ng-click="skipList()" ng-if="list._id">Skip</button>
      <hr />
      <ul class="list-group">
        <li class="list-group-item" ng-class="{ 'guessed': item.guesser }" ng-repeat="item in values">
          <h4>{{item.guesser ? item.value : item.maskedValue}}</h4>
          <span class="label label-success" ng-if="item.guesser">
            {{item.guesser.username ? item.guesser.username : item.guesser.first_name}}
          </span>
          <p ng-if="item.guesser">{{item.blurb}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
