<div id="tenthings-page" class="col-md-12">
  <h1>Ten Things</h1>
  <h2>{{game.list.name}}</h2>
  <div ng-if="list._id">
    <p>{{game.list.description}}</p>
    <h5>By {{game.list.creator.username}}</h5>
    <h5>Possible values: {{game.list.answers}}</h5>
  </div>
  <div>
    <div class="input-group play-buttons">
      <input
        class="form-control input-search"
        id="maingame-guess"
        type="search"
        ng-model="guess"
        placeholder="Guess"
        ng-keydown="keyDown($event)"
      />
      <div class="input-group-append">
        <button class="btn btn-default" ng-click="checkAnswer()" ng-disabled="!guess">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" ng-click="getHint()" ng-disabled="game.hints >= 6">Hint ({{game.hints}})</button>
      <button class="btn btn-default" ng-click="skipList()" ng-if="game.list._id">Skip</button>
    </div>
    <hr />
    <ul class="list-group">
      <li class="list-group-item" ng-class="{ 'guessed': item.guesser }" ng-repeat="item in game.list.values">
        <div class="answer">
          <h4>{{item.guesser ? item.value : item.maskedValue}}</h4>
          <span class="label label-success" ng-if="item.guesser">
            {{item.guesser.username ? item.guesser.username : item.guesser.first_name}}
          </span>
        </div>
        <div class="blurb" ng-if="item.guesser && item.blurb">{{item.blurb}}</div>
      </li>
    </ul>
  </div>
</div>
