<div id="tenthingscurate-page" class="col-md-12">
  <h1>Ten Things List Curation</h1>
	<button class="btn btn-default" ng-click="getLists()">
		<i class="fas fa-sync" ng-class="{ 'fa-spin': loading }" aria-hidden="true"></i>
	</button>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Language</th>
				<th>Difficulty</th>
				<th>Score</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in lists | orderBy: '+name'">
				<td>{{list.name}}</td>
				<td>{{list.language}}</td>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-sm btn-secondary" ng-class="{ 'btn-primary': list.difficulty === 0 }" ng-click="setDifficulty(list, 0)">&#128524;</button>
						<button type="button" class="btn btn-sm btn-secondary" ng-class="{ 'btn-primary': list.difficulty === 1 }" ng-click="setDifficulty(list, 1)">&#129300;</button>
						<button type="button" class="btn btn-sm btn-secondary" ng-class="{ 'btn-primary': list.difficulty === 2 }" ng-click="setDifficulty(list, 2)">&#128565;</button>
					</div>
				</td>
				<td>{{(list.score * 100).toFixed(2)}}%</td>
				<td>{{formatDate(list.date)}}</td>
			</tr>
		</tbody>
	</table>
</div>
