<div class="container" ng-controller="TopPriorityCtrl">
  <div class="Top" style="display:none;">
    <div id='Avatar'>
    </div>
  </div>
  <div class="App">
    <div class="AppSection" id="TypeSection" style="display:block;">
      <h1>What kind of list?</h1>
      <input type="button" ng-click="choose_type('')" class="btn btn-primary" value="I can enter it myself" />
      <input type="button" ng-repeat="(name, list) in defaultLists" ng-click="choose_type(name)" class="btn btn-primary" ng-value="list.caption" />
    </div>
    <div class="AppSection" id="InputSection">
      <h3 id="InputTitle"></h3>
      <div class="ListInputs">
        <div class="input-group" ng-repeat="item in list track by $index">
          <input type="text" class="form-control ListItem" ng-model="item">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="removeListItem($index)" ng-disabled="list.length <= 2" >X</button>
          </span>
        </div>
      </div>
      <input type="button" class="btn btn-primary" ng-click="addListItem()" Value="+" />
      <br/>
      <br/>
      <input type="button" class="btn btn-primary" ng-click="start()" Value="Start Prioritizing" />
    </div>

    <div class="AppSection" id="AvatarSection">
      <h3>Choose your Avatar</h3>
      <img id='Avatars' src='http://i.imgur.com/IcP5F1m.png'/>
      <input type="button" class="btn btn-primary" ng-click="choose_avatar()" Value=">" />
    </div>

    <div class="AppSection" id="PrioritizeSection">
      <h3>This or That?</h3>

      <input type="button" ng-click="choose(this.value)" class="btn btn-primary" id="choice1" />
      <br/>
      <h3>or</h3>
      <input type="button" ng-click="choose(this.value)" class="btn btn-primary" id="choice2" />
      <br/>
      <br/>
      <div class="progress">
        <div id="ChoicesLeft" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
      </div>
    </div>
    <div class="AppSection" id="ResultSection">
      <h3>Results</h3>

      <input type="button" class="btn btn-primary" ng-click="next_player()" Value="Pass to next player" />
      <br/>
      <input type="button" class="btn btn-primary" ng-click="multiplayer()" id="btnMultiplayer" value="Restart"/>
      <br/>
      <br/>
      <ul id="ResultList" />
    </div>
    <div class="AppSection" id="FinalSection">
      <h3>Final Results</h3>

      <div><table class="table-striped" id="FinalResultList" /></div>
      <div><input type="button" class="btn btn-primary" ng-click="restart()" Value="Restart"/></div>
    </div>
  </div>

</div>
