<div id="workout-page doodle-page" class="container">
  <div class="well well-lg">
    <div class="input-group">
      <span class="input-group-addon">Exercise Time</span>
      <input class="form-control" type="number" ng-model="timeExercising" ng-disabled="timeRemaining"/>
    </div>
    <div class="input-group">
      <span class="input-group-addon">Rest Time</span>
      <input class="form-control" type="number" ng-model="timeResting" ng-disabled="timeRemaining"/>
    </div>
    <br />
    <button class="btn btn-default" ng-click="workout()">
      {{ timeRemaining ? 'Stop' : 'Start' }} Workout
    </button>
  </div>
  <h1 class="display-2">{{timer}}</h1>
  <h2 class="display-3" ng-show="timeRemaining">{{rest ? 'Next up: ' : ''}}{{exercise.name}} ({{progress()}})</h2>
  <h2 ng-show="exercise.split && !rest">{{timer < timeExercising / 2 ? 'Right' : 'Left'}}</h2>
  <img class="img-div" ng-src="/exercises/{{exercise.name}}.gif" ng-show="!rest && timeRemaining" />
</div>
