<div class="edit-list-panel-header">
  <h1>{{selectedList.name ? selectedList.name : "New list"}}</h1>
  <i class="fas fa-times fa-3x" ng-click="setSelectedList()"></i>
</div>
<h5 ng-show="selectedList.creator">
  <p>
    <b>Created by</b> {{list._id ? selectedList.creator.username : currentUser.username }} /
    <b>Created on</b> {{formatDate(selectedList.date)}}
    <span ng-show="selectedList.modifyDate && selectedList.date !== selectedList.modifyDate">
      / <b>Last modified</b> on {{formatDate(selectedList.modifyDate)}}
    </span>
  </p>
  <span ng-show="selectedList.plays">
    <b>Plays</b> {{selectedList.plays}} / <b>Skips</b> {{selectedList.skips}} /
    <b>Play Ratio</b> {{selectedList.playRatio.makePercentage()}} / <b>Score</b> {{selectedList.score.makePercentage()}}
    / <b>Upvotes</b> {{selectedList.upvotes}} / <b>Downvotes</b> {{selectedList.downvotes}} /
    <b>Hints</b> {{selectedList.hints}} / <b>Difficulty</b>
    {{selectedList.calculatedDifficulty.makePercentage()}}
  </span>
</h5>
<kbd ng-if="!selectedList._id">
  Please search existing lists first and add answers to them. Subjective, niche and duplicate lists will be deleted.
  <span ng-if="selectedList.categories.indexOf('Music') >= 0">
    Music lists will be scrutinized by admins for global recognition.
  </span>
</kbd>
<div class="btn-toolbar">
  <button
    class="btn btn-default"
    ng-click="getBlurbs('movies')"
    ng-if="selectedList.categories.indexOf('Movies') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Movie Posters
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('tv')"
    ng-if="selectedList.categories.indexOf('Television') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get TV Posters
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('actors')"
    ng-if="selectedList.categories.indexOf('Movies') >= 0 || selectedList.categories.indexOf('Television') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Actor Pics
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('books')"
    ng-if="selectedList.categories.indexOf('Literature') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Book Covers
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('musicvideos')"
    ng-if="false && selectedList.categories.indexOf('Music') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Music Videos
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('unsplash')"
    ng-if="selectedList.categories.indexOf('Nature') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Unsplash Pics
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('pexels')"
    ng-if="selectedList.categories.indexOf('Nature') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Pexels Pics
  </button>
  <button
    class="btn btn-default"
    ng-click="getBlurbs('wiki')"
    ng-if="selectedList.categories.indexOf('Nature') >= 0"
    ng-disabled="gettingBlurbs || !selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    Get Wiki Pics
  </button>
  <button
    class="btn btn-danger"
    ng-if="selectedList._id"
    ng-click="deleteList(selectedList)"
    ng-disabled="!selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
  >
    <i class="fas fa-trash" aria-hidden="true"></i> Delete
  </button>
</div>
<br />
<div class="input-group">
  <span class="input-group-addon" id="name-addon">Name</span>
  <input
    class="form-control"
    id="list-name"
    ng-model="selectedList.name"
    placeholder="Name"
    ng-disabled="!selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
    aria-describedby="name-addon"
    ng-blur="upsertList(selectedList, {name: selectedList.name})"
  />
</div>
<div class="input-group">
  <span class="input-group-addon" id="description-addon">Description</span>
  <textarea
    class="form-control"
    id="list-description"
    ng-model="selectedList.description"
    placeholder="Description displays when the list is introduced to the players."
    ng-disabled="!selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
    aria-describedby="description-addon"
    style="resize: vertical"
    oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
    onfocus='this.style.height = this.scrollHeight + "px"'
    onblur='this.style.height = "";'
    ng-blur="upsertList(selectedList, {description: selectedList.description})"
  />
</div>
<br />
<div class="btn-toolbar" role="toolbar">
  <div class="dropdown btn-group">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      ng-disabled="!selectedList || (!currentUser.admin && selectedList.creator._id !== currentUser._id && selectedList._id)"
      data-toggle="dropdown"
      uib-tooltip="Language"
    >
      {{selectedList ? selectedList.language : 'None'}}
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="language in languages | orderBy: 'code'">
        <a href="#" ng-click="setLanguage(selectedList, language)">{{language.code}} - {{language.native}}</a>
      </li>
    </ul>
  </div>
  <div class="dropdown btn-group">
    <button
      class="btn dropdown-toggle"
      ng-class="{ 'btn-danger': selectedList.categories.length === 0, 'btn-default': selectedList.categories.length > 0 }"
      type="button"
      aria-haspopup="true"
      aria-expanded="false"
      data-toggle="modal"
      data-target="#modal-pick-categories"
      uib-tooltip="Categories"
    >
      <i class="fas fa-tags" ng-if="selectedList.categories.length === 0"></i>
      {{selectedList.categories.join(", ")}}
    </button>
  </div>
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.difficulty === 0, 'btn-default': selectedList.difficulty !== 0 }"
      ng-click="setDifficulty(selectedList, 0)"
      uib-tooltip="Easy"
    >
      &#128524;
    </button>
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.difficulty === 1, 'btn-default': selectedList.difficulty !== 1 }"
      ng-click="setDifficulty(selectedList, 1)"
      uib-tooltip="Medium"
    >
      &#129300;
    </button>
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.difficulty === 2, 'btn-default': selectedList.difficulty !== 2 }"
      ng-click="setDifficulty(selectedList, 2)"
      uib-tooltip="Hard"
    >
      &#128565;
    </button>
  </div>
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.frequency === 0, 'btn-default': selectedList.frequency !== 0 }"
      ng-click="setFrequency(selectedList, 0)"
      uib-tooltip="Frequently changes"
    >
      🔴
    </button>
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.frequency === 1, 'btn-default': selectedList.frequency !== 1 }"
      ng-click="setFrequency(selectedList, 1)"
      uib-tooltip="Annually changes"
    >
      🟠
    </button>
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.frequency === 2, 'btn-default': selectedList.frequency !== 2 }"
      ng-click="setFrequency(selectedList, 2)"
      uib-tooltip="Rarely changes"
    >
      🟡
    </button>
    <button
      type="button"
      class="btn"
      ng-class="{ 'btn-primary': selectedList.frequency === 3, 'btn-default': selectedList.frequency !== 3 }"
      ng-click="setFrequency(selectedList, 3)"
      uib-tooltip="Never changes"
    >
      ⚪
    </button>
  </div>
</div>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-1" ng-click="valueOrder = {field: 'creator.username', direction: !valueOrder.direction}">
        <i class="fas fa-user" tooltip-placement="right" uib-tooltip="Black = creator, Purple = someone else"></i>
        <i
          ng-if="valueOrder.field === 'creator.username'"
          class="fas"
          ng-class="{'fa-sort-alpha-down-alt' : valueOrder.direction, 'fa-sort-alpha-down': !valueOrder.direction}"
        ></i>
      </th>
      <th class="col-1" ng-click="valueOrder = {field: 'date', direction: !valueOrder.direction}">
        <i class="fas fa-calendar" tooltip-placement="right" uib-tooltip="Black = creation date, Purple = later"></i>
        <i
          ng-if="valueOrder.field === 'date'"
          class="fas"
          ng-class="{'fa-sort-alpha-down-alt' : valueOrder.direction, 'fa-sort-alpha-down': !valueOrder.direction}"
        ></i>
      </th>
      <th class="col-4" ng-click="valueOrder = {field: 'value', direction: !valueOrder.direction}">
        Answer
        <i
          ng-if="valueOrder.field === 'value'"
          class="fas"
          ng-class="{'fa-sort-alpha-down-alt' : valueOrder.direction, 'fa-sort-alpha-down': !valueOrder.direction}"
        ></i>
      </th>
      <th class="col-5" ng-click="valueOrder = {field: 'blurb', direction: !valueOrder.direction}">
        Blurb
        <i
          ng-if="valueOrder.field === 'blurb'"
          class="fas"
          ng-class="{'fa-sort-alpha-down-alt' : valueOrder.direction, 'fa-sort-alpha-down': !valueOrder.direction}"
        ></i>
      </th>
      <th class="col-1"><i class="fas fa-link"></i></th>
      <th class="col-1"><i class="fas fa-trash-alt"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="loggedIn && selectedList.name && selectedList.categories.length > 0">
      <td></td>
      <td></td>
      <td class="input-cell">
        <input
          id="new-value"
          class="form-control"
          ng-model="newItem.value"
          ng-disabled="!selectedList || !selectedList.name"
          placeholder="New answer ({{selectedList.values.length + 1}})"
        />
      </td>
      <td class="input-cell">
        <textarea
          id="new-blurb"
          class="form-control"
          ng-model="newItem.blurb"
          ng-disabled="!selectedList || !selectedList.name"
          placeholder="Display after guessing {{newItem.value}}"
          style="resize: vertical"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          onfocus='this.style.height = this.scrollHeight + "px"'
          onblur='this.style.height = "43px";'
        />
      </td>
      <td colspan="2">
        <button
          class="btn"
          ng-class="{'btn-danger': hasDuplicate(), 'btn-default': !hasDuplicate()}"
          ng-click="addValue()"
          ng-disabled="!selectedList || !selectedList.name || !newItem.value || hasDuplicate()"
        >
          {{hasDuplicate() ? 'Dupe' : 'Add'}}
        </button>
      </td>
    </tr>
    <tr ng-repeat="item in selectedList.values | orderBy: valueOrder.field:valueOrder.direction">
      <td
        class="icon-column"
        ng-class="{'text-info': item.creator._id !== currentUser._id && item.creator._id !== selectedList.creator._id}"
      >
        <i class="fas fa-user" tooltip-placement="right" uib-tooltip="{{item.creator.username}}"></i>
      </td>
      <td class="icon-column" ng-class="{'text-info': formatDate(item.date) !== formatDate(selectedList.date)}">
        <i
          class="fas fa-calendar"
          tooltip-placement="right"
          uib-tooltip="{{formatDate(item.date ? item.date : selectedList.date)}}"
        ></i>
      </td>
      <td class="input-cell col-xs-5">
        <input
          id="value{{$index}}"
          class="form-control"
          ng-model="item.value"
          ng-class="{'bg-info': selectedList.creator._id !== currentUser._id && item.creator !== currentUser._id, 'bg-success': selectedList.creator._id !== currentUser._id && item.creator === currentUser._id, }"
          placeholder="Answer {{selectedList.values.length - $index}}"
          ng-disabled="!loggedIn || !currentUser.admin && selectedList.creator._id !== currentUser._id && item.creator !== currentUser._id"
          ng-blur="updateValues()"
        />
      </td>
      <td class="input-cell col-xs-6">
        <textarea
          class="form-control"
          ng-model="item.blurb"
          ng-class="{'bg-info': selectedList.creator._id !== currentUser._id && item.creator !== currentUser._id, 'bg-success': selectedList.creator._id !== currentUser._id && item.creator === currentUser._id, }"
          placeholder="Display after guessing {{item.value}} (Can be an image URL)"
          ng-disabled="!loggedIn || !currentUser.admin && selectedList.creator._id !== currentUser._id && item.creator !== currentUser._id"
          ng-blur="updateValues()"
          style="resize: vertical"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          onfocus='this.style.height = this.scrollHeight + "px"'
          onblur='this.style.height = "43px";'
        />
      </td>
      <td class="image-cell icon-column">
        <img ng-src="{{item.blurb}}" ng-if="item.blurb.substring(0, 4) === 'http' && item.blurb.indexOf('youtu') < 0" />
        <a
          href="{{item.blurb}}"
          target="_blank"
          ng-if="item.blurb.substring(0, 4) === 'http' && item.blurb.indexOf('youtu') >= 0"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </td>
      <td
        class="icon-column"
        ng-class="{ 'delete-column' : selectedList.values.length > 10 && selectedList._id !== 'new', 'disabled-column' : selectedList.values.length <= 10 || selectedList._id === 'new' }"
        ng-click="deleteValue(item)"
        uib-tooltip="{{ selectedList.values.length <= 10 ? 'Deleting is only possible if you have more than 10 values' : 'Delete' }}"
      >
        <i class="fas fa-trash-alt"></i>
      </td>
    </tr>
  </tbody>
</table>
